.cart-woo {
    padding: 40px 0;
    background: linear-gradient(to top,
            #fff 50%,
            $color-мarden 0%,

        );

    .entry-title {
        margin: 20px 0;

        @include responsive($sm) {
            margin: 20px 0 0 0;
        }
    }

    .woocommerce table.shop_table {
        td {
            border: 0;
        }

        border-spacing: 0 20px;
        margin: 0;
    }

    .woocommerce-cart-form {
        margin-top: 50px;
        @extend %card-bg;

        @include responsive($md) {
            margin-top: 30px;
        }

        @include responsive(480px) {
            margin-top: 20px;
        }

        .cart-count {
            color: $h3-color-mine_shaft;
            font-size: $h3-font_size;
            font-weight: $h-weight_bold;
            margin-bottom: 80px;

            @include responsive($lg) {
                font-size: 30px;
                margin-bottom: 40px;
            }

            @include responsive($md) {
                font-size: 25px;
                margin-bottom: 30px;
            }

            @include responsive($sm) {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }

        &__cart-item {
            @include responsive($md) {
                margin-bottom: 40px;
            }

            &:last-of-type {
                @include responsive($md) {
                    margin-bottom: 0;
                }
            }

            td {
                border: 1px solid #F0F0F0 !important;
                background: #FCFCFC;


                &:first-of-type {
                    @include responsive($md) {
                        border-radius: 20px 20px 0 0;
                    }


                }

                &:last-of-type {
                    @include responsive($md) {
                        border-radius: 0;
                    }

                    border-radius: 0 20px 20px 0;
                }

            }

            tr:nth-child(even) {
                background-color: rgba(150, 212, 212, 0.4);
            }
        }

        .actions-coupon {
            opacity: 0;
            height: 0;
            visibility: collapse;
        }
    }
}

.woocommerce a.remove {
    color: $basic-color-selective_yellow !important;

    &:hover {
        background: $basic-color-hover_selective_yellow !important;
    }
}

table.shop_table {
    border: 0 !important;
    color: $text-color-mine_shaft;

    .product-name {
        img {
            display: inline;
            margin-right: 20px;
        }

        a {
            &:first-of-type {
                flex-shrink: 0;
            }

            &:last-of-type {
                color: $h3-color-mine_shaft;
                font-family: Gilroy;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                transition: color 0.7s ease;

                @include responsive(480px) {
                    font-size: 18px;
                }

                &:hover {
                    color: $basic-color-selective_yellow;
                    transition: color 0.7s ease;
                }
            }
        }
    }

    .product-price,
    .product-subtotal {
        span {
            font-size: 20px;
            font-weight: 500;


        }
    }

    &>thead {
        th {
            font-size: 20px;
            font-weight: 500 !important;


        }
    }
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
    @include responsive(480px) {
        font-size: 18px;
    }
}

#customer_details {
    @extend %card-bg;

    input {
        @extend %input-base-card;
    }
}

.woocommerce-shipping-fields {
    h3 {
        display: none;
    }
}

.woocommerce-additional-fields__field-wrapper {
    margin-top: 30px;
}

.block-checkout-address {
    margin-top: 30px;


    textarea {
        @extend %input-base-card;
        resize: none;
    }
}

.woocommerce form .form-row.woocommerce-invalid span input {
    border: 1px solid red !important;
    color: red !important;
}

.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last,
.woocommerce form .form-row-first {
    @include responsive($lg) {
        float: left;
        width: 100% !important;
    }
}

.order-review-wrap {
    display: grid;
    grid-template-columns: 60% 39%;
    gap: 20px;
    margin-top: 50px;

    @include responsive($xl) {
        grid-template-columns: 1fr;
    }
}

.wrap-coupon {
    @extend %card-bg;
    padding: 30px;

    @include responsive(480px) {
        padding: 30px 15px;
    }

    #coupon_code {
        @extend %input-base-card;
        width: 100%;
        margin-top: 20px;
    }

    .button {
        border-radius: 5px !important;
        border: 1px solid #F9B300 !important;
        background: #FFF7E1 !important;
        color: #F9B300 !important;
        text-align: center !important;
        font-family: Gilroy !important;
        font-size: 25px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: normal !important;
        padding: 20px !important;
        height: auto !important;
        margin-top: 40px !important;

        @include responsive(480px) {
            font-size: 18px !important;
        }
    }

    p.form-row.form-row-first.woocommerce-validated,
    p.form-row.form-row-last {
        float: none !important;
        width: 100% !important;
    }
}

.col2-set {
    margin-top: 50px;
}

.woocommerce-checkout-review-order {
    @extend %card-bg;
    padding: 30px;


    @include responsive(480px) {
        padding: 30px 15px;
    }
}

.woocommerce-shipping-totals.shipping {
    @include responsive(480px) {
        display: flex;
        flex-direction: column;
    }




    ul#shipping_method li label {
        @include responsive(480px) {
            display: flex;
        }
    }
}

.woocommerce-checkout-review-order-table {
    .order-total {
        color: #222;
        font-size: $h4-font_size;
        font-weight: $h-weight_bold;

        @include responsive(480px) {
            font-size: 25px;
        }

        th {
            font-size: inherit;
            font-weight: inherit !important;

            @include responsive(480px) {
                font-size: 25px;
            }
        }
    }

    thead {
        tr {

            th,
            td {
                @include responsive(480px) {
                    padding: 5px !important;
                }
            }
        }

        .order-total,
        .cart-subtotal {
            @include responsive(480px) {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .cart-subtotal,
    .cart-discount {
        color: #747474;
        font-size: 20px;
        font-weight: 500;

        .woocommerce-Price-amount.amount {
            font-size: 20px !important;
            font-weight: 500 !important;
        }
    }

    .woocommerce-remove-coupon {
        color: $basic-color-selective_yellow;
        transition: color 0.7s ease;

        &:hover {
            color: $basic-color-hover_selective_yellow;
            transition: color 0.7s ease;
        }
    }
}

a.woocommerce-privacy-policy-link {
    color: $basic-color-selective_yellow;
    transition: color 0.7s ease;
    text-decoration: underline;

    &:hover {
        color: $basic-color-hover_selective_yellow;
        transition: color 0.7s ease;
    }
}

button[name="woocommerce_checkout_place_order"] {
    height: auto !important;
    font-size: 25px !important;
    padding: 20px !important;

    @include responsive(480px) {
        font-size: 18px;
    }
}

.woocommerce-cart-form__contents {
    &>thead {
        tr {
            th {
                &:nth-child(1) {
                    width: 10%;
                }

                &:nth-child(2) {
                    width: 40%;
                }

                &:nth-child(3) {
                    width: 16%;
                }

                &:nth-child(4) {
                    width: 16%;
                }

                &:nth-child(5) {
                    width: 16%;
                }
            }
        }
    }
}

.woocommerce-billing-fields,
.wcus-checkout-fields,
.coupon-form {
    h3 {
        @include responsive($md) {
            font-size: 35px;
        }

        @include responsive($sm) {
            font-size: 30px;
        }

        @include responsive(480px) {
            font-size: 25px;
        }
    }
}

a.button.wc-backward.wp-element-button {
    height: auto !important;

    @include responsive(480px) {
        font-size: 25px !important;
    }
}

.woocommerce-ResetPassword {

    input,
    label,
    .woocommerce-form-row {
        width: 100% !important;
    }
}