.food-category-wrapp {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 20px;

  @include responsive($lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.food-catalog-card {
  background   : $category-card-color-white;
  box-shadow   : $card-box_shadow_coffe-filter;
  border-radius: $border_radius_card;
  padding      : 20px 30px 20px 40px;
  display      : flex;
  align-items  : center;
  gap          : 20px;
  color        : #000;
  transition   : background 0.7s ease;

  &:hover {
    background: $basic-color-selective_yellow;
    color     : #000;
    transition: background 0.7s ease;
  }

  &.active-cat {
    background: $basic-color-selective_yellow;
  }


  @include responsive($lg) {
    flex-direction: column;
  }

  &__img {
    max-width: 150px;

    @include responsive($breakpoint_sm) {
      max-width: 100%;
    }
  }

  &__name {
    font-weight: $text-weight_bold;
    margin     : 0;

    @include responsive($lg) {
      text-align: center;
    }

    @include responsive($md) {
      font-size: $font-size_medium;
    }

    @include responsive($breakpoint_sm) {
      font-size: $text-font-size_tiny;
    }
  }

  &:nth-child(1) {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 2/3;
  }

  &:nth-child(3) {
    grid-column: 1/2;
  }

  &:nth-child(4) {
    grid-column: 2/3;
  }

  &:nth-child(5) {
    grid-column: 3/4;
  }

  @include responsive($lg) {
    grid-column: auto !important;
  }

  @include responsive($md) {
    padding: 20px;
  }

  @include responsive($breakpoint_sm) {
    padding: 15px;
  }
}