@media (max-width: 1399.98px) {
  //   .category-card {
  //     picture {
  //       position: relative;
  //       left: -2rem;
  //     }
  //   }

  //   .price-basket {
  //     padding: 13px 25px;
  //   }
  //   .swiper-slide {
  //     img {
  //       min-height: 290px;
  //     }
  //   }

  //   .advantage-img {
  //     left: -9rem;
  //   }

  //   .swiper_social-instagram {
  //     max-width: 600px;
  //   }
  //   .itc-select {
  //     left: 55%;
  //   }
}

@media (max-width: 1199.98px) {
  // .navigation li{
  //     padding: 0 20px;
  // }
  .cart {
    margin: 0 20px;
  }

  //   .offer-wrapp {
  //     flex-direction: column;
  //   }

  //   .swiper_head {
  //     margin-left: auto;
  //     margin-right: auto;
  //     margin-top: 20px;
  //   }

  //   .offer-title {
  //     p {
  //       max-width: 100%;
  //     }
  //   }

  //   .categories {
  //     flex-wrap: wrap;
  //     justify-content: center;
  //   }

  //   .category-card {
  //     margin: 0 30px 30px 0;
  //     picture {
  //       left: 0;
  //     }
  //   }

  //   .card-coffe {
  //     max-width: 400px;
  //     width: 100%;
  //   }

  //   .swiper-button-next_card-next,
  //   .swiper-button-prev_card-prev {
  //     right: 0;
  //   }
  //   .swiper-button-prev_card-prev {
  //     left: 0;
  //   }

  .card-coffe__photo {
    margin-right: 20px;
  }

  //   .products-wrapp {
  //     justify-content: normal;
  //     margin-right: 0;
  //   }

  //   .social-instagram-wrapper {
  //     flex-direction: column;
  //   }

  //   .advantage-img {
  //     display: none;
  //   }

  //   .advantage-wrapper {
  //     display: block;
  //   }

  //   .advantage-info,
  //   .advantage-list__desc {
  //     max-width: 100%;
  //     margin-left: 0;
  //   }

  //   .advantage-inner {
  //     justify-content: normal;
  //   }

  //   .swiper_social-instagram {
  //     max-width: 100%;
  //     margin-top: 85px;
  //   }

  //   .instagram-title {
  //     margin-bottom: 40px;
  //   }

  //   .s-b--n_insta {
  //     top: -22rem;
  //     right: 0;
  //   }

  //   .apple-wrapp {
  //     justify-content: center;
  //   }

  //   .apple-two {
  //     left: 11rem;
  //   }

  //   .slider-img {
  //     max-width: 600px;
  //     height: 450px;
  //   }
  //   .swiper-pagination_instagram {
  //     display: block;
  //   }
  //   .swiper-slide_insta {
  //     padding-bottom: 65px;
  //   }
  //   .swiper-pagination.swiper-pagination_instagram.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  //     bottom: 0;
  //     left: 0;
  //     top: auto;
  //     right: 0;
  //   }
  //   .s-b--n_insta {
  //     display: none;
  //   }
}

@media (max-width: 991.98px) {
  // .header-wrapp{
  //     display: none;
  // }
  //   .swiper-slide__wrapp {
  //     height: 560px;
  //   }

  // .button-group{
  //     position: relative;
  // }

  // .nav-bar{
  //     display: block;
  // }
  // .mobi-nenu {
  //     @include flex-space_between;
  //     align-items: center;
  // }

  //    .navigation_mobi{
  //         flex-direction: column;
  //         height: 0;
  //         display: block;
  //     }

  // .menu-header_mobi {
  //     width: 100%;
  //     text-align: center;
  //     font-size: 30px;
  //     .searsh-form_mobi{
  //         opacity: 0;
  //         transform: translate(0px, 20rem);
  //     }
  //     .navigation_mobi{
  //         transform: translate(0px, 30rem);
  //         opacity: 0;
  //         color: #2C3317;
  //         }
  // }

  // .menu-header_mobi.nav-active{
  //     position: relative;
  //     z-index: 4;
  // }

  // .nav-active {
  //     .searsh-form_mobi{
  //         opacity: 1;
  //         position: relative;
  //         top: 7rem;
  //         transform: translate(0px, -6rem);
  //         transition: transform 1s ease, opacity 1s ease;
  //         input{
  //             max-width: 100%;
  //             width: 100%;
  //             position: static;
  //             display: block;
  //         }
  //     }
  //     .navigation_mobi{
  //         height: auto;
  //         opacity: 1;
  //         transform: translate(0px, 0px);
  //         transition: transform 1s ease, opacity 1s ease;
  //         li{
  //             padding: 30px 0;
  //             width: 100%;
  //         }

  //     }
  // }

  //   .categories-wrapp {
  //     flex-wrap: nowrap;
  //     overflow-x: scroll;
  //     padding: 50px 10px;
  //     justify-content: normal;
  //   }

  //   .offer-title {
  //     h1 {
  //       max-width: 100%;
  //     }
  //   }

  //   .news-card {
  //     width: 100%;
  //   }

  //   .news-card__photo {
  //     img {
  //       max-width: 250px;
  //     }
  //   }

  //   .news-card__info {
  //     max-width: 100%;
  //   }

  //   .companys-news-wrapp,
  //   .instagram-title {
  //     margin-bottom: 30px;
  //   }

  //   .footer-menu {
  //     padding: 100px 0 50px;
  //   }

  //   .apple-two {
  //     left: 9rem;
  //   }

  //   .card-coffe {
  //     width: 85%;
  //   }
}

@media (max-width: 767.98px) {
  // .button-group{
  //     justify-content: flex-end;
  // }

  //   .swiper-slide__wrapp {
  //     height: 420px;
  //   }

  //   .catalog h2 {
  //     margin-bottom: 20px;
  //   }

  //   .offer {
  //     padding: 60px 0 25px;
  //   }

  //   .advantage {
  //     padding: 59px 0 60px;
  //   }

  //   .info-coffe {
  //     padding: 65px 0;
  //   }

  //   .roasting-coffee__text {
  //     max-width: 100%;
  //   }

  //   .roasting-coffee__title {
  //     margin-bottom: 50px;
  //   }

  //   .companys-news-wrapp {
  //     margin-bottom: 55px;
  //   }

  //   .swiper-button-prev_card-prev {
  //     left: -30px;
  //   }

  //   .roasting-coffee__btn,
  //   .btn {
  //     width: 100%;
  //   }

  //   .news-card {
  //     margin-bottom: 45px;
  //   }

  //   .price-basket {
  //     padding: 13px 46px;
  //   }

  //   .roasting-coffee__text:last-of-type {
  //     margin-bottom: 60px;
  //   }

  //   .card-coffe {
  //     margin: 0 auto;
  //   }

  //   .apple-two {
  //     display: none;
  //   }

  //   .form-mailing {
  //     flex-direction: column;
  //   }

  //   .form-mailing__btn {
  //     width: 100%;
  //     margin-left: 0;
  //     margin-top: 20px;
  //   }
  //   .swiper-slide__photo img {
  //     max-width: 500px;
  //     height: 380px;
  //   }

  // h1{
  //     font-size: 60px;
  // }
  // h2{
  //     font-size: 40px;
  // }

  //   .news-card {
  //     flex-direction: column;
  //   }
  //   .news-card__photo img {
  //     border-radius: 0;
  //     margin: 0 auto;
  //     display: block;
  //   }
  //   .apple-wrapp {
  //     justify-content: flex-start;
  //   }

  // .menu-header{
  //     .navigation {
  //         display: none;
  //     }
  // }

  // .menu-header_mobi{
  //     .navigation_mobi {
  //         display: block;
  //     }
  // }

  //   .form-mailing__btn {
  //     padding: 22px 15px;
  //   }
}

@media (max-width: 575.98px) {
  // .nav-active .navigation_mobi li {
  //     font-size: 25px;
  // }

  // .logo__img {
  //     object-fit: contain;
  //     max-width: 200px;
  // }

  .cart {
    margin: 0 5px;
  }

  // h1 {
  //     font-size: 40px;
  // }

  //   .offer-title h1 {
  //     width: 100%;
  //     margin-bottom: 30px;
  //   }

  //   .offer-desc {
  //     margin-bottom: 45px;
  //   }

  //   .swiper_head,
  //   .swiper-button-wrap {
  //     display: none;
  //   }
  //   .swiper-pagination_product-cofe {
  //     display: block;
  //   }
  //   .swiper-pagination.swiper-pagination_product-cofe.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  //     position: static;
  //   }

  // h2 {
  //     font-size: 30px;
  // }

  //   .catalog {
  //     padding: 45px 0;
  //   }
  //   .categories-wrapp {
  //     padding: 20px 10px;
  //   }
  //   .product-sale p,
  //   .advantage-title {
  //     margin: 30px 0 0;
  //   }

  //   .catalog-card {
  //     height: 375px;
  //     padding: 20px;
  //     width: 250px;
  //     picture {
  //       max-width: 200px;
  //       height: 150px;
  //       margin-bottom: 15px;
  //       min-height: auto;
  //     }
  //     img {
  //       max-width: 200px;
  //       max-height: 150px;
  //     }
  //   }

  //   .catalog-card h4 {
  //     width: 100%;
  //   }

  //   .catalog-card:hover picture {
  //     transform: scale(1);
  //     top: 0;
  //     margin-bottom: 5px;
  //   }
  //   .catalog-card:hover h4 {
  //     font-size: 25px;
  //   }

  //   .swiper_social-instagram {
  //     display: none;
  //   }
  //   .apple-wrapp {
  //     img {
  //       width: 80%;
  //     }
  //   }

  //   .advantage-info {
  //     h2 {
  //       margin: 30px 0 30px;
  //     }
  //   }

  //   .advantage-inner {
  //     flex-direction: column;
  //   }

  //   .advantage-icon {
  //     max-width: 150px;
  //     margin: 0 auto 20px;
  //   }

  //   .advantage-list {
  //     text-align: center;
  //   }

  //   .apple-wrapp {
  //     justify-content: center;
  //   }
  //   .footer-menu {
  //     padding: 30px 0;
  //   }

  //   .form-mailing__btn {
  //     padding: 15px;
  //   }
  //   .footer {
  //     padding: 44px 0 15px;
  //   }
}

@media (max-width: 450px) {
  // .nav-active .navigation_mobi li {
  //     font-size: 20px;
  // }

  //   .companys-news-wrapp {
  //     flex-direction: column;
  //     align-items: flex-start;
  //   }

  //   .see-all_news {
  //     margin-left: 0;
  //     margin-top: 15px;
  //   }

  //   .social-instagram {
  //     padding: 10px 0 15px;
  //   }
  //   .form-mailing__btn {
  //     font-size: 25px;
  //   }
  //   .companys-news {
  //     padding: 50px 0 5px;
  //   }

  //   .advantage-inner {
  //     margin-bottom: 30px;
  //   }

  //   .price-btn {
  //     flex-direction: column;
  //   }

  //   .price-sale {
  //     bottom: 150px;
  //   }

  //   .goods-desc-coffe {
  //     max-width: 100%;
  //   }

  //   .price-basket {
  //     margin-top: 10px;
  //   }
}

@media (max-width: 360px) {
  // h1 {
  //     font-size: 35px;
  // }

  //   .offer {
  //     padding: 20px 0;
  //   }

  body {
    font-size: 20px;
  }

  // .logo__img {
  //     object-fit: contain;
  //     max-width: 150px;
  // }

  .cart {
    margin: 0 -7px;
  }
  .form-mailing__btn,
  .roasting-coffee__btn,
  .btn,
  .price-basket {
    font-size: 20px;
    padding: 22px 5px;
  }

  //   .price-sale {
  //     bottom: 175px;
  //   }

  //   .card-coffe-wrapp {
  //     padding: 60px 0 30px;
  //   }

  //   .advantage {
  //     padding: 25px 0 50px;
  //   }
  //   .itc-select {
  //     left: 47%;
  //   }

  //   .news-card__info {
  //     padding: 9px 15px 15px;
  //   }
}
